<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<link  href="https://cdn.rawgit.com/dicksmith01/fancy-box/master/css" rel="stylesheet"/>


<style>
/* Used for navigation */
#samsung ul { 
    width: 940px;
	position: relative;
	margin: 0; 
	padding: 10px; 
	list-style-type: none; 
	text-align: center !important; 
	background-color: #0d5fb1 !important;
	height: 49px;
	} 
 
 #samsung li {
	border-right-length: 100px !important;
	magrin-left: 10px;
}
 
#samsung ul li {  
	display: inline; 
	} 
 
#samsung ul li a { 
	text-decoration: none; 
	padding: 0px 1em; 
	color: #fff !important; 
	background-color: #0d5fb1 !important; 
	margin-left: -30px;
	font-size: 11pt;

	} 
 
#samsung ul li a:hover { 
       color: #fff !important;
       background-color: #065FEC !important;
       padding-top: 19px;
       padding-bottom: 19px;
	}

#samsungLogo {

	margin-left: 0px;
    margin-top: 7px;
    width: 198px;
    position: absolute;
    height: 60px;
    z-index: 1;


}




#imgSize {


	width: 200px;


}


</style>



<img id="samsungLogo" src="https://d1fpg8q78gu6dx.cloudfront.net/media/wysiwyg/landing_pages/Samsung/product_page/SamsungSIS_LOGO.jpg">

<div id="samsung"> 
  <ul id="samsung" style="margin-left: 0px; margin-top: -9px;"> 
	<div style="margin-top: 15px;margin-left: 174px;"> 
	<li><a href="http://www.dicksmith.com.au/samsung">Home</a></li> 
	<li><a href="http://www.dicksmith.com.au/tv-video/tvs?brand=116">TVs</a></li> 
	<li><a href="http://www.dicksmith.com.au/audio-mp3?brand=116">Audio</a></li> 
	<li><a href="http://www.dicksmith.com.au/photography?brand=116">Photography</a></li> 
	<li><a href="http://www.dicksmith.com.au/computers/tablets-accessories?brand=116">Tablets</a></li> 
	<li><a href="http://www.dicksmith.com.au/printers-office?brand=116">Office</a></li> 
	<li><a href="http://www.dicksmith.com.au/mobiles-wireless?brand=116">Mobiles</a></li> 
	<li><a href="http://www.dicksmith.com.au/samsung-galaxy-smart-watches">Wearables</a></li>
	<li style="border-right-style: none; !important"><a href="http://www.dicksmith.com.au/store-locator/">Find a Store</a></li>
  </div>
  </ul> 
</div>



<img src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/SS_Galaxy_Alpha_Landing_Page_V2.png'}}" alt="Samsung Alpha" style="margin-left: -10px; margin-top: -10px"/>

<div style="position: absolute; margin-top: -1720px">
<a href="http://www.dicksmith.com.au/store-locator"><img src="{{media url='wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator.jpg'}}" style="margin-left:34px; margin-top:20px; margin-bottom:20px;" alt="Buy Now" onmouseover="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator_Hover-On.jpg'" onmouseout="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator.jpg'"></a>



<a href="https://www.dicksmith.com.au/samsung-alpha-buy-now"><img src="http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_black.jpg" style="margin-left:30px; margin-top:20px; margin-bottom:20px;" alt="Buy Now" onmouseover="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_yellow.jpg'" onmouseout="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_black.jpg'"></a>
</div>


<div style="position: relative">
	
	<div style="position: absolute; margin-left: 280px; margin-top: -1610px">
		<h1 style="margin-left: -10px">Premium/Sleek Design and Genuine Metal Frame</h1>
		<p style="font-size: 12pt">Only 6.7mm, the Galaxy Alpha has been designed to be as slim and compact as possible. Enjoy a sleek looking device with impressive capabilities.</p>
	</div>
	
	<div style="position: absolute; margin-left: 280px; margin-top: -1450px">
		<h1 style="margin-left: -10px">12MP Camera</h1>
		<p style="font-size: 12pt">With a range of advanced camera features, raise the bar on the photos you snap. Phase Detection offers better autofocusing results, compose your pictures artfully with Selective Focus you can use the Shadow Free Feature to match real life colour and light.</p>
	</div>
	
	<div style="position: absolute; margin-left: 280px; margin-top: -1300px">
		<h1 style="margin-left: -10px">Fingerprint Log-In and Scanner - <br>
			Log-in with the swipe of your finger</h1>
		<p style="font-size: 12pt">Do away with the hassle of memorizing website IDs and passwords! Fingerprint scanner mean that you can authorize payments using PayPal and log in to compatible password-protected websites with just the swipe of your finger</p>
	</div>


</div>


<div style="position: relative">

	<div style="position: absolute; margin-left: 500px; margin-top: -1000px">
		<h1 style="margin-left: -10px">SAMSUNG GALAXY ALPHA</h1>
		<ul>
		<li style="font-size: 12pt">Incredible FHD Super AMOLED display</li>
		<li style="font-size: 12pt">Fingerprint access and payments</li>
		<li style="font-size: 12pt">Slim, lightweight and portable by design</li>
		</ul>
		<br>
		<h1 style="margin-left: -10px">Memory Options</h1>
		<ul>
		<li style="font-size: 12pt">32GB</li>
		</ul>
		<br>
		<h1 style="margin-left: -10px">Colour Options</h1>
		<ul>
		<li style="font-size: 12pt">Dazing White</li>
		<li style="font-size: 12pt">Charcoal Black</li>
		</ul>
	</div>



</div>









<div style="margin-left:35px; margin-top: -440px">
<h1 style="margin-left: 40px; margin-top: -50px; position: absolute">Gallery</h1>
<table border="1">
<tr>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_1.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_1.jpg'}}" alt=""/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_2.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_2.jpg'}}"/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_3.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_3.jpg'}}"/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_4.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_4.jpg'}}"/>
</a></div></td>	                                                                                                                                    
</tr>	                                                                                                                                            
	                                                                                                                                                
<tr>	                                                                                                                                            
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_5.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_5.jpg'}}"/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_6.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_6.jpg'}}"/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_7.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_7.jpg'}}"/></a></div></td>
<td><a href="http://www.dicksmith.com.au/get.php/media/wysiwyg/landing_pages/Samsung/Alpha/Image_8.jpg" data-lightbox="roadtrip"><img id="imgSize"	border="1" src="{{media url='wysiwyg/landing_pages/Samsung/Alpha/Image_8.jpg'}}"/></a></div></td>
</tr>

</table>
</div>



<br>
<br>



<div>
<a href="http://www.dicksmith.com.au/store-locator"><img src="{{media url='wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator.jpg'}}" style="margin-left:34px; margin-top:20px; margin-bottom:20px;" alt="Buy Now" onmouseover="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator_Hover-On.jpg'" onmouseout="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/Samsung_Tab_S/Store-Locator.jpg'"></a>


<a href="https://www.dicksmith.com.au/samsung-alpha-buy-now"><img src="http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_black.jpg" style="margin-left:30px; margin-top:20px; margin-bottom:20px;" alt="Buy Now" onmouseover="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_yellow.jpg'" onmouseout="this.src='http://media2.dicksmith.com.au/media/wysiwyg/landing_pages/Samsung/product_page/buy_now_black.jpg'"></a>
</div>
